# Strategies - Simple moving average

## Import requested libraries

In [1]:
# Libraries dependencies
import MetaTrader5 as mt5
from datetime import datetime
import pandas as pd
from datetime import datetime

# Project files
from src.classes.classes import MqlTradeRequest
from src.utils.trade import Trade
from src.utils.account import Account
from src.utils.backtest import Backtest

## Establish MetaTrader 5 connection to a specified trading account

In [2]:
# # Hedge account
Account.login(login=5013424139, server="MetaQuotes-Demo", password="pndvym2b")

# # Logout from a current trading session
# Account.logout()

# # Netting account
Account.login(login=5013526569, server="MetaQuotes-Demo", password="h3xhhvuo")

[INFO]: Successfull login to #5013424139 account

In [3]:
# Account.logout()
mt5.account_info()

AccountInfo(login=5013424139, trade_mode=0, leverage=100, limit_orders=200, margin_so_mode=0, trade_allowed=True, trade_expert=True, margin_mode=2, currency_digits=2, fifo_close=False, balance=4964.01, credit=0.0, profit=0.0, equity=4964.01, margin=0.0, margin_free=4964.01, margin_level=0.0, margin_so_call=50.0, margin_so_so=30.0, margin_initial=0.0, margin_maintenance=0.0, assets=0.0, liabilities=0.0, commission_blocked=0.0, name='Pedro Bento', server='MetaQuotes-Demo', currency='USD', company='MetaQuotes Software Corp.')

In [4]:
financial_data = pd.DataFrame(mt5.copy_rates_from("EURUSD",5, datetime.utcnow(), 1000))
financial_data.time = pd.to_datetime(financial_data.time, unit="s")
financial_data = financial_data.set_index("time")
financial_data

,open,high,low,close,tick_volume,spread,real_volume
time,,,,,,,
2023-05-16 12:20:00,1.08952,1.08961,1.08929,1.08954,335,0,0
2023-05-16 12:25:00,1.08956,1.08997,1.08947,1.08987,278,0,0
2023-05-16 12:30:00,1.08987,1.09008,1.08978,1.08987,283,0,0
2023-05-16 12:35:00,1.08987,1.08988,1.08945,1.08947,251,0,0
2023-05-16 12:40:00,1.08947,1.08969,1.08943,1.08962,204,0,0
...,...,...,...,...,...,...,...
2023-05-19 23:30:00,1.08067,1.08070,1.08063,1.08064,50,1,0
2023-05-19 23:35:00,1.08064,1.08082,1.08064,1.08082,58,1,0
2023-05-19 23:40:00,1.08082,1.08082,1.08053,1.08060,76,1,0
2023-05-19 23:45:00,1.08060,1.08065,1.08052,1.08052,75,1,0
2023-05-19 23:50:00,1.08052,1.08055,1.08035,1.08048,114,2,0

In [6]:
from src.strategies.simple_moving_average import Strategy

signals_data = Strategy.backtest_signals(financial_data.close)

results = Backtest(financial_data, signals_data)
results.get_result()

results.financial_data[results.financial_data["signals"] != 0]

,open,high,low,close,tick_volume,spread,real_volume,signals,profit
time,,,,,,,,,
2023-05-16 13:30:00,1.08935,1.08957,1.08926,1.08955,134,0,0,1.0,-0.00023
2023-05-16 13:40:00,1.08942,1.08943,1.08923,1.08932,145,0,0,-1.0,-0.00020
2023-05-16 13:50:00,1.08934,1.08955,1.08934,1.08952,177,0,0,1.0,-0.00029
2023-05-16 14:30:00,1.08962,1.08964,1.08922,1.08923,172,0,0,-1.0,0.00055
2023-05-16 16:00:00,1.08817,1.08870,1.08809,1.08868,437,0,0,1.0,-0.00111
...,...,...,...,...,...,...,...,...,...
2023-05-19 17:40:00,1.07951,1.07951,1.07889,1.07892,318,0,0,-1.0,-0.00076
2023-05-19 18:10:00,1.07832,1.07984,1.07823,1.07968,850,0,0,1.0,0.00207
2023-05-19 19:40:00,1.08168,1.08178,1.08148,1.08175,366,0,0,1.0,0.00023
2023-05-19 20:55:00,1.08213,1.08213,1.08194,1.08198,163,0,0,-1.0,0.00138
2023-05-19 22:55:00,1.08034,1.08065,1.08034,1.08060,269,0,0,1.0,NaN